$black = #373540

.tv-app 
.tv-app *
.tv-open-button
.tv-open-button *
	box-sizing border-box
	margin 0
	padding 0 

.tv-open-button
	position fixed
	width 55px
	height 55px
	background-color $black
	padding 12px
	border-radius 50%
	right 50px
	bottom 50px
	transition-duration .5s
	
	> img 
		width 100%
		transition-duration .5s
	
	&:hover 
		> img
			transform scale(1.1)

.tv-app 
	position fixed
	width 100%
	height 100vh
	background-color rgba(#000, .6)
	z-index 100
	padding 30px

	> .modal 
		width 100%
		height 100%
		background-color #dad5ff
		display grid
		grid-template-rows 50px auto 150px
		padding-top 10px 
		
		> .search-wrapper
			padding 5px 15px
			padding-right 7px 
			width 50%
			
			> .input-group
				border solid 1px $black 
				height 100%
				width 100% 
				display flex 
				align-items center 
				border-radius 4px
				padding 5px 10px 
				
				> input 
					width calc(100% - 30px)
					height 100%
					background-color transparent
					border none 
					vertical-align middle 
					
					&:focus 
						outline none 
						
				> img 
					width 25px
		
		> .contact-list
			overflow: auto
			padding 15px
			display grid
			grid-template-columns 1fr 1fr
			grid-template-rows 50px
			grid-gap 10px
			
			> .card
				height 50px
				padding 10px
				background-color #fff
				border-radius 4px
				box-shadow 0px 0px 5px 0px rgba($black, .3)
				display flex
				align-items center

				&.-active
					background-color #c4bfe5
				
		> .message-wrapper 
			width 100%	
			display grid
			grid-template-rows auto 50px
			box-shadow -2px 0px 5px 0px rgba($black, .3)
			z-index 1
			
			> textarea
				width 100%
				border none
				resize none
				padding 15px
				font-size 1em
				line-height 1.2em
				
				&:focus
					outline none
					
				&::placeholder
					font-size 1em
					line-height 1.2em
					
			> .actions
				background-color $black
				display flex
				justify-content space-between
				align-items center
				padding 5px 15px
			
				.icon
					width 25px
					vertical-align middle
					cursor pointer
					
					& + .icon
						display inline-block
					 margin-right 10px
					 